body {
    background-color: #ffffff; /* Glossy white background */
    color: #666; /* Grey text */
}

/* Header Container */
.header-container {
    background-color: #f0f0f0; /* Light grey */
    padding-top: 40px;
}

/* Jumbotron */
.jumbotron {
    background: url("{% static 'home/img/home_page_img.jpg' %}") no-repeat center center;
    background-size: cover;
    color: rgb(37, 36, 36);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}



.content-card {
    background: rgba(255, 255, 255, 0.6); /* Semi-transparent white */
    border-radius: 10px;
    backdrop-filter: blur(10px); /* Blurring effect */
    padding: 2rem;
    max-width: 600px; /* Adjust the width as needed */
    margin: auto;
    z-index: 1;
}

.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.jumbotron h1, .jumbotron p, .jumbotron .btn {
    color: rgb(28, 26, 26);
}

/* Headings and Lead Text */
h1, h4, .lead {
    color: #666; /* Grey text */
}

/* Primary Button */
.btn-primary {
    background-color: #666; /* Grey */
    border-color: #666;
}

.btn-primary:hover {
    background-color: #999; /* Lighter grey on hover */
    border-color: #999;
}

/* Card Styling */
.card {
    border-color: #ccc; /* Light grey */
    display: flex; /* Enable Flexbox */
    flex-direction: column; /* Arrange items in column */
    justify-content: space-between; /* Space items evenly */
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 10px;
    flex: 1 1 auto;
}

.card-title {
    color: #666; /* Grey text */
}

.card-text {
    color: #666; /* Grey text */
}

/* Flexbox Container for Cards */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin-top: -100px; 
}

/* Links */
a {
    color: #666; /* Grey text */
}

a:hover {
    color: #999; /* Lighter grey on hover */
}

/* Shop Now Button */
.shop-now-button {
    background-color: #666; /* Grey */
    border-color: #666;
    color: #ffffff;
}

.shop-now-button:hover {
    background-color: #999; /* Lighter grey on hover */
    border-color: #999;
}
