{% extends 'base.html' %}
{% load static %}

{% block extra_title %} - Subscribe{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/subscription.css' %}">
{% endblock %}

{% block content %}
<section class="pricing-table">
    <!-- Load the Stripe pricing table -->
    <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
    <stripe-pricing-table
        pricing-table-id="prctbl_1Qh81OGhHsM8rbqsrRcBTWCx"
        publishable-key="pk_test_51Qbtv4GhHsM8rbqshbJzE3vq1qussJXL8ff5OIPcesynkkzAFtXsH0dFCB1AKa1970RNfuE0XatN2FMSMdTA9In5001JASrg2w">
    </stripe-pricing-table>
</section>
{% endblock %}
