{% extends "../base.html" %}
{% load allauth i18n %}
{% load static %}

{% block head_title %}
    {% trans "Sign Up" %}
{% endblock head_title %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock extra_css %}

{% block content %}
    <div class="container profile-overlay">
        <h1 class="logo-font">{% trans "Sign Up" %}</h1>
        {% setvar link %}
            <a href="{{ login_url }}">
        {% endsetvar %}
        {% setvar end_link %}
            </a>
        {% endsetvar %}
        <p>{% blocktranslate %}Already have an account? Then please {{ link }}sign in{{ end_link }}.{% endblocktranslate %}</p>
        <div class="card">
            <div class="card-body">
                <p>Join our community and start enjoying exclusive content and features.</p>
                <p>Stay updated with the latest news and events.</p>
            </div>
        </div>
        {% if not SOCIALACCOUNT_ONLY %}
            {% url 'profiles:account_signup' as action_url %}
            <form method="post" action="{{ action_url }}" class="entrance signup">
                {% csrf_token %}
                {{ form.as_p }} <!-- Render the form with the user_type field included -->
                {{ redirect_field }}
                <button type="submit" class="btn btn-primary">{% trans "Sign Up" %}</button>
            </form>
        {% endif %}
        {% if PASSKEY_SIGNUP_ENABLED %}
            <hr>
            <a href="{{ signup_by_passkey_url }}" class="btn btn-outline-primary">
                {% trans "Sign up using a passkey" %}
            </a>
        {% endif %}
        {% if SOCIALACCOUNT_ENABLED %}
            {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
        {% endif %}
    </div>
{% endblock content %}
