/* home.css */
body {
    background-color: #FFF5E1; /* Warm beige */
    color: #4B3E2A; /* Warm dark brown */
}

.header-container {
    background-color: #FFB570; /* Warm light orange */
}

.jumbotron {
    background-color: #FFE7C7; /* Warm cream */
    margin: 0 auto; /* Center the jumbotron */
    width: 80%; /* Increase the width for a bigger jumbotron */
    padding: 2rem; /* Add padding for more content space */
}

h1, h4, .lead {
    color: #D9534F; /* Warm red */
}

.btn-primary {
    background-color: #F37B4E; /* Warm orange */
    border-color: #F37B4E;
}

.btn-primary:hover {
    background-color: #D9534F; /* Darker warm red on hover */
    border-color: #D9534F;
}

.card {
    border-color: #F4A261; /* Light warm orange */
}

.card-title {
    color: #8D5524; /* Deep warm brown */
}

.card-text {
    color: #4B3E2A; /* Warm dark brown */
}

a {
    color: #F37B4E; /* Warm orange */
}

a:hover {
    color: #D9534F; /* Darker warm red */
}

.shop-now-button {
    background-color: #FF9A76; /* Warm peach */
    border-color: #FF9A76;
    color: #FFFFFF;
}

.shop-now-button:hover {
    background-color: #FF7849; /* Darker warm peach on hover */
    border-color: #FF7849;
}
