/* home.css */

/* General Settings */
body {
    background-color: #ffffff; /* Glossy white background */
    color: #666; /* Grey text */
}

/* Header Container */
.header-container {
    background-color: #f0f0f0; /* Light grey */
    padding-top: 40px;
}

/* Jumbotron */
.jumbotron {
    background-color: #f8f8f8; /* Slightly lighter grey */
    margin: 0 auto; /* Center the jumbotron */
    width: 80%; /* Increase the width for a bigger jumbotron */
    padding: 2rem; /* Add padding for more content space */
}

/* Headings and Lead Text */
h1, h4, .lead {
    color: #666; /* Grey text */
}

/* Primary Button */
.btn-primary {
    background-color: #666; /* Grey */
    border-color: #666;
}

.btn-primary:hover {
    background-color: #999; /* Lighter grey on hover */
    border-color: #999;
}

/* Card Styling */
.card {
    border-color: #ccc; /* Light grey */
}

.card-title {
    color: #666; /* Grey text */
}

.card-text {
    color: #666; /* Grey text */
}

/* Links */
a {
    color: #666; /* Grey text */
}

a:hover {
    color: #999; /* Lighter grey on hover */
}

/* Shop Now Button */
.shop-now-button {
    background-color: #666; /* Grey */
    border-color: #666;
    color: #ffffff;
}

.shop-now-button:hover {
    background-color: #999; /* Lighter grey on hover */
    border-color: #999;
}
