{% extends "base.html" %}
{% load static %}

{% block extra_title %} | Edit Profile {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block content %}
<div class="container" style="padding-top: 60px;">
    <h2>Edit Client Profile</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ profile_form|crispy }}
        {% for field in profile_form %}
            {% if field.name != 'user' %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endif %}
        {% endfor %}
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
</div>
{% endblock %}
