{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Top Tech Wizards Board</h2>
            <p class="text-center">Our Top Tech Wizards are revolutionists, creating new websites/apps and supporting virtual business spaces, all while earning extra income.</p>
        </div>
    </div>
    <div class="row">
        {% for freelancer in top_freelancers %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                {% if freelancer.profile_image %}
                    <img src="{{ freelancer.profile_image.url }}" class="card-img-top" alt="{{ freelancer.user.username }}">
                {% else %}
                    <div class="card-img-top text-center py-5">
                        <i class="fas fa-user fa-5x"></i>
                    </div>
                {% endif %}
                <div class="card-body text-center">
                    <h5 class="card-title">{{ freelancer.user.username }}</h5>
                    <a href="{% url 'profiles:view_profile' username=freelancer.user.username %}" class="btn btn-primary">Visit Profile</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
