/* General Settings */
html, body {
    height: 100%;
    margin: 0;
    color: #555; 
    font-family: 'Lato', sans-serif;
    background-color: #ffffff; /* Glossy white background */
}

/* Navbar Links */
header .navbar-nav .nav-item .nav-link {
    padding: 10px 15px;
    font-weight: bold;
    color: #4B3E2A; 
}

header .btn-primary {
    background-color: #F37B4E; 
    border-color: #F37B4E;
}

/* Containers */
.container {
    position: relative;
    z-index: 1;
    margin-top: 160px; /* Margin from top/navbar */
}

/* Jumbotron */
.jumbotron {
    background-color: #f8f8f8; /* Slightly lighter grey */
    margin: 0 auto; /* Center the jumbotron */
    width: 80%; /* Increase the width for a bigger jumbotron */
    padding: 2rem; /* Add padding for more content space */
}

/* Headings and Lead Text */
h1, h4, .lead {
    color: #666; /* Grey text */
}

/* Primary Button */
.btn-primary {
    background-color: #666; /* Grey */
    border-color: #666;
}

.btn-primary:hover {
    background-color: #999; /* Lighter grey on hover */
    border-color: #999;
}

/* Card Styling */
.card {
    border-color: #ccc; /* Light grey */
    background: #FFFFFF; /* Changed to white background */
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 20px 0;
}

.card-header {
    background-color: #F37B4E; 
    color: #FFFFFF; /* Adjusted for contrast */
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    padding: 10px;
}

.card-title, .card-text {
    color: #666; /* Grey text */
}

.card-body {
    padding: 20px;
}

/* Links */
a {
    color: #666; /* Grey text */
}

a:hover {
    color: #999; /* Lighter grey on hover */
}

.nav-link {
    color: #4B3E2A; 
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
    color: #F37B4E; 
}

/* Text */
p {
    font-size: 16px;
    color: #4B3E2A; 
    line-height: 1.6;
}

/* Shop Now Button */
.shop-now-button {
    background-color: #666; /* Grey */
    border-color: #666;
    color: #ffffff;
}

.shop-now-button:hover {
    background-color: #999; /* Lighter grey on hover */
    border-color: #999;
}

/* Stripe Elements */
.StripeElement,
.stripe-style-input {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 0px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important; 
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}

form#subscribe-form {
    display: block; /* Ensure form is displayed */
}

.card {
    color: #000000; /* Ensure text is visible */
}
