{% extends "base.html" %}

{% load static %}
{% block extra_title %} | Client Dashboard {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h1>{{ profile.user.username }} Dashboard</h1>
            <p><strong>Company Name:</strong> {{ profile.company_name }}</p>
            <p><strong>Phone Number:</strong> {{ profile.phone_number }}</p>
            <p><strong>Company Address:</strong> {{ profile.company_address }}</p>
            <p><strong>Country:</strong> {{ profile.country }}</p>
        </div>
        <div class="col-md-3">
            <h3>Actions</h3>
            <ul class="list-unstyled">
                <li><a href="{% url 'profiles:edit_client_profile' %}" class="btn btn-primary btn-block">Edit Profile</a></li>
                <li><a href="{% url 'subscription:subscribe' %}" class="btn btn-secondary btn-block">Subscribe</a></li>
                <li><a href="{% url 'dashboard:view_profile' username=user.username %}" class="btn btn-info btn-block">View Profile</a></li>
                <li><a href="{% url 'dashboard:post_job' %}" class="btn btn-warning btn-block">Post Job</a></li>
                <li><a href="#" class="btn btn-success btn-block">Message</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
