{% extends "base.html" %}
{% load static %}

{% block extra_title %} | Delete Job {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %}">
{% endblock %}

{% block content %}
<div class="container common-body content-spacing delete-job-container">
    <h2>Delete Job</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="job_id">Select Job to Delete:</label>
            <select name="job_id" id="job_id" class="form-control">
                {% for job in jobs %}
                <option value="{{ job.id }}">{{ job.project_title }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-danger">Delete Job</button>
    </form>
</div>
{% endblock %}
