{% extends "base.html" %}
{% load static %}

{% block extra_title %} | Edit Profile {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %}">
    <style>
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.9); 
            z-index: -1; 
        }
        .profile-overlay {
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
            margin: 20px auto;
            max-width: 800px;
            position: relative; 
            z-index: 1;
        }
        .form-container {
            padding: 2rem;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container profile-overlay">
        <div class="row">
            <div class="col text-center">
                <h2 class="logo-font mb-4">Edit Profile</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-container">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ profile_form.as_p }}
                        <h3>Add Job Links (1-5)</h3>
                        {% for job_link_form in job_link_forms %}
                            {{ job_link_form.as_p }}
                        {% endfor %}
                        <button type="submit">Save</button>
                    </form>
                    
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}