{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_title %} | Edit Profile {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %}">
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container common-body content-spacing profile-overlay">
        <div class="row">
            <div class="col text-center">
                <h2 class="logo-font mb-4">Edit Profile (dashboard app)</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-container">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ profile_form|crispy }}
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
