{% extends "base.html" %}
{% load static %}

{% block extra_title %} | Profile Page {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %}">
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container dashboard-overlay">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">My Profile</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="profile-image-container">
                {% if profile.profile_image %}
                    <img src="{{ profile.profile_image.url }}" alt="Profile Image" class="profile-image"/>
                {% else %}
                    No image available
                {% endif %}
            </div>
        </div>
        <div class="col-md-8">
            <p>Skills:</p>
            <ul>
                {% for skill in profile.skills.all %}
                    <li>{{ skill.name }}</li>
                {% endfor %}
            </ul>
            <p>Bio: {{ profile.bio }}</p>
            <p>Phone Number: {{ profile.phone_number }}</p>
            <p>Available for Meetings: {{ profile.available_for_meetings }}</p>
            <p>Country: {{ profile.country }}</p>
            <p>LinkedIn Profile: <a href="{{ profile.linkedin_profile }}">{{ profile.linkedin_profile }}</a></p>
            <p>Out of Office: {{ profile.out_of_office|yesno:"Yes,No" }}</p>
            <p>Past Jobs Links:</p>
            <ul>
                {% for job_link in profile.job_links.all %}
                    <li><a href="{{ job_link.url }}" target="_blank">{{ job_link.url }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
