<!doctype html>
<html lang="en">
  <head>
    {% load static %}

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block corejs %}
        <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}
    
    {% block extra_css %}
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    {% endblock %}

    <title>Circle {% block extra_title %}{% endblock %}</title>
  </head>
  <body>
    <header class="container-fluid fixed-top">
        <div id="topnav" class="row bg-white pt-lg-2">
            <div class="col-12 col-lg-3 my-auto text-center text-lg-left">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <h2 class="logo-font text-black my-0"><strong>Circle</strong></h2>
                </a>
            </div>
            <div class="col-12 col-lg-5 my-auto">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="main-nav">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'home' %}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'subscription:subscribe' %}">Subscribe</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <li class="list-inline-item dropdown">
                        <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <p class="my-0">My Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                <a href="{% url 'dashboard:user_dashboard' %}" class="dropdown-item">Dashboard</a>
                                {% if not request.user.is_superuser %}
                                    <a href="{% url 'dashboard:view_profile' username=request.user.username %}" class="dropdown-item">View My Profile</a>
                                {% endif %}
                                {% if request.user.is_superuser %}
                                    <a href="{% url 'admin:index' %}" class="dropdown-item">Site Management</a>
                                {% endif %}
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                        
                    </li>
                </ul>
            </div>
        </div>
        <div id="delivery-banner" class="row text-center">
            <div class="col bg-black text-white">
            </div>            
        </div>
    </header>
    
    {% if messages %}
        <div class="message-container">
        </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <footer class="container-fluid bg-light py-4 mt-5">
      <div class="row">
        <div class="col-md-4 text-center text-md-left">
          <h5>Contact Us</h5>
          <ul class="list-unstyled">
            <li>Email: contact@codenomad.com</li>
            <li>Phone: +123 456 7890</li>
            <li>Address: 123 Code St, Nomad City</li>
          </ul>
        </div>
        <div class="col-md-4 text-center my-2 my-md-0">
          <h5>Follow Us</h5>
          <a href="#" class="text-secondary mx-2"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="text-secondary mx-2"><i class="fab fa-twitter"></i></a>
          <a href="#" class="text-secondary mx-2"><i class="fab fa-instagram"></i></a>
          <a href="#" class="text-secondary mx-2"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <div class="col-md-4 text-center text-md-right">
          <h5>Legal</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-secondary">Terms and Conditions</a></li>
            <li><a href="#" class="text-secondary">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
    </footer>

    {% block postloadjs %}
    {{ block.super }}
    {% endblock %}
  </body>
</html>
